.top-zone__logo-item-3 {
    width: 14.29px;
    height: 12.5px;
    border: solid 1px #DAA520;
    position: absolute;
    left: 95.71px;
    top: 39.71px;
    border-radius: 0 7px 0 7px;
    box-sizing: border-box;
}