.top-zone__logo-item-1 {
    width: 12.5px;
    height: 14.29px;
    border: solid 1px #DAA520;
    position: absolute;
    left: 81.79px;
    top: 39.71px;
    border-radius: 7px 0 7px 0;
    box-sizing: border-box;
}