.top-zone__logo-item-4 {
    width: 12.5px;
    height: 14.29px;
    border: solid 1px #DAA520;
    position: absolute;
    left: 95.71px;
    top: 24px;
    border-radius: 7px 0 7px 0;
    box-sizing: border-box;
}