.top-zone__logo-item-2 {
    width: 14.29px;
    height: 12.5px;
    border: solid 1px #DAA520;
    position: absolute;
    left: 80px;
    top: 25.79px;
    border-radius: 0 7px 0 7px;
    box-sizing: border-box;
}